/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: saturate(180%) blur(12px);
  -webkit-backdrop-filter: saturate(180%) blur(12px);
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.9em 1.25em;
    font-family: $sans-serif-narrow;
    font-size: $type-size-6;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
      background-image: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  letter-spacing: 0.005em;

  &--lg {
    padding-right: 2em;
    font-family: $header-font-family;
    font-weight: 600;
    font-size: $type-size-4;
    letter-spacing: -0.01em;
  }
}